html,body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(201,201,201);
    background-color: rgb(61,61,61);
    transition: ease-in-out 300ms;
    padding: 0; margin: 0;
}
.cubed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 200ms;
}
.cube {
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transition: all 400ms;
}
.face {
  position: absolute;
  width: 200px;
  height: 200px;
  
}
.front {
  transform: rotateY(0deg) translateZ(100px);
  background-color: rgb(41,41,41);
  border: solid 1px white;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
}

.back {
  transform: rotateY(180deg) translateZ(100px);
  background-color: rgb(41,41,41);
  border: solid 1px white;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
}

.right {
  transform: rotateY(90deg) translateZ(100px);
  background-color: rgb(41,41,81);
  border: solid 1px white;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
}

.left {
  transform: rotateY(-90deg) translateZ(100px);
  background-color: rgb(81,41,41);
  border: solid 1px white;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
}

.top {
  transform: rotateX(90deg) translateZ(100px);
  background-color: rgb(41,81,41);
  border: solid 1px white;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
  background-color: rgb(81,81,41);
  border: solid 1px white;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  box-shadow: 0px 0px 0px 0px black;
  transition: all 450ms;
}
#text {
  margin: 6px;
}
a {
  color: rgba(255,255,255,65%);
  text-decoration: underline;
}
#policy {
  position: absolute;
  bottom: 4px;
  font-size: 10px;
  background-color: rgb(31,31,31);
  padding: 5px;
  padding-right: 15px; padding-left: 10px;
  border-radius: 0px 5px 0px 0px;
}