html {
	background-image: url(background.PNG);
	color: white;
	-webkit-font-smoothing : none;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: crisp-edges;
	image-rendering: pixelated;
}
a, h2, marquee {
	font-size:20px;
	background-color:black;
}
h1 {
	background-color:black;
}
marquee {
	background-color:black;
}
.content {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    gap: 1px;
}
#contentarea {
    transition: all 400ms;
    padding: 4px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 0px black;
    height: 400px; 
    width: 200px;
	border: outset 1px white;
    
}
button {
	margin-bottom: 4px;
}
@media only screen and (max-width: 720px)  {
    
    .title {
      width: 100%;
      margin-top: 0px;
    }
    #titlebg {
        width: 100%;
        border-radius: 0px;
    }
    .content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 10px;
        margin-left: 10px;
        gap: 10px;
    }
    #contentarea {
        background-color: rgb(0, 0, 0);
        box-shadow: 0px 0px 10px 0px black;
        width: 98%;
        height: auto;
    }
    button {
        margin-top: 10px;
		padding-top: 6px;
		padding-bottom: 6px;
    }
  }
