html,body {
    font-family: rocko;
    color: rgb(201,201,201);
    background: radial-gradient(circle, rgba(88,88,88,1) 0%, rgba(43,43,43,1) 36%, rgba(0,0,0,1) 100%);
    transition: ease-in-out 300ms;
    padding: 0; margin: 0;
}
@font-face {
  font-family: rocko;
  src: url(rocko/RockoFLF.ttf);
}
.cubed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 200ms;
}
.cube {
  transform: rotateY(5deg) rotateZ(-1deg) rotateX(-1deg);
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  transition: all 400ms;
  animation-name: cube 20s linear infinite;
}
.face {
  position: absolute;
  width: 200px;
  height: 200px;
  
}
.front {
  transform: rotateY(0deg) translateZ(100px);
  background: radial-gradient(circle, rgba(62,65,74,1) 0%, rgba(38,41,45,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
}

.back {
  transform: rotateY(180deg) translateZ(100px);

  background-color: rgb(41,41,41);
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
}

.right {
  transform: rotateY(90deg) translateZ(100px);
  background: radial-gradient(circle, rgba(37,50,91,1) 0%, rgba(24,44,64,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
}

.left {
  transform: rotateY(-90deg) translateZ(100px);
  background: radial-gradient(circle, rgba(91,37,37,1) 0%, rgba(64,24,24,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
}

.top {
  transform: rotateX(90deg) translateZ(100px);
  background: radial-gradient(circle, rgba(47,91,37,1) 0%, rgba(32,64,24,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
  background: radial-gradient(circle, rgba(91,89,37,1) 0%, rgba(64,59,24,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  box-shadow: 0px 0px 0px 0px black;
  transition: all 450ms;
}
#text {
  margin: 12px;
}
a {
  color: rgba(255,255,255,65%);
  text-decoration: underline;
}
#policy {
  height: 17px;
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  font-size: 10px;
  background-color: rgb(31,31,31);
  padding: 5px;
  padding-right: 15px; padding-left: 10px;
  border-radius: 0px 5px 0px 0px;
}