html {
  background: rgb(180,58,153);
  background: linear-gradient(130deg, rgba(180,58,153,1) 0%, rgba(179,29,253,1) 62%, rgba(136,69,252,1) 100%); 
}
html, body {
    margin: 0;
    height: 100%;
}
.topnav {
    background-color:  #050607;
    overflow: hidden;
  }
  
  .topnav a {
    float: left;
    color: #301616;
    text-align: center;
    padding: 8px 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #7700ff;
    color: black;
  }
  
  .topnav a.active {
    background-color: #183c54;
    color: white;
  }