/*Navigation Bar*/
.nav {
    height: auto; width: 100%;
    background-color: rgb(51,51,51);
    box-shadow: 0px 0px 1px 0px black;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header {
    color: white;
    display: flex;
    background-color: rgb(10,120,255);
    min-width: 5em;
    padding: 1em;
    overflow: hidden;
    align-items: center; justify-content: center;
    transition: all 300ms;
}
@media (max-width: 450px) {
    header {
        width: 100%;
    }
    .link {
        width: 100%;
        margin-left: 1em;
    }
}
/*Buttons*/
.button {
    color: white;
    display: flex;
    padding: 0.5em;
    background-color: rgb(10,120,255);
    min-width: 5em;
    max-width: 10em;
    overflow: hidden;
    align-items: center; justify-content: center;
    border-radius: .5em;
    transition: all 300ms;
    margin: 6px;

}
.button:hover {
    background-color: rgb(76, 169, 255);

}
.link {
    color: black;
    display: flex;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0);
    min-width: 2em;
    align-items: center; justify-content: center;
    border-radius: .5em;
    margin-right: 1em;
    transition: all 300ms;
}
.link:hover {
    background-color: rgba(0, 0, 0, 0.464);
}
/*Content*/
.content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
/*Repos*/
.repo {
    grid-template-areas: 
    'header header header header'
    'content content content content'
    'footer footer footer footer';
    display: grid;
    margin-top: 1em;
    width: 50%; height: 60%;
    border: solid 1.5px rgba(1, 0, 0, 0.318);
    border-radius: .3em;
    overflow: hidden;
}
@media (max-width: 700px) {
    .repo {
        width: 80%;
    } 
}
@media (max-width: 450px) {
    .repo {
        width: 100%;
        border-radius: 0px;
    } 
}
.header {
    color: white;
    grid-area: header;
    display: flex;
    align-items: center;
    width: 100%;
     height: 3em; 
     box-shadow: 0px 0px 1px 0px black;
     background-color: rgb(41,41,41);
     padding-left: 1em; padding-right: 1em;
     z-index: 1;
}
.content-grid {
    grid-area: content;
    background-color: white;
    width: 100%; height: auto;
    padding: 1em;
}
.footer {
    grid-area: footer;
    background-color: rgb(255, 255, 255);
    border-top: solid 1.5px rgba(1, 0, 0, 0.318);

}
/*Footer*/
footer {
    position:fixed;
    background-color: rgb(10,120,255);
    bottom: 0;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%; height: auto;
    padding-top: .5em;
    padding-bottom: .5em;
}

