/*Main stuff.*/
html,body {
  margin: 20px; padding: 0;
  background-color: rgb(0, 0, 0);
  font-family: QuinqueFive;
  color: white;
}
@font-face {
  font-family: QuinqueFive;
  src: url(/fonts/QuinqueFive.ttf);
}
hr {
  height: .2em;
  background: white;
  border: none;
  margin-bottom: 2em;
}
a {
  color: rgb(38, 255, 0);
  text-decoration: none;
}
/*Cube*/
.cubed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 200ms;
}
.cube {
width: 200px;
height: 250px;
transform-style: preserve-3d;
transition: all 0.5s ease;
transition: all 400ms;
animation: rotate 7000ms linear infinite;

}
.face {
position: absolute;
width: 200px;
height: 250px;
}
#content {
  color: rgb(38, 255, 0);
  margin: 30px;
  font-size: .4em;
}
.front {
transform: rotateY(0deg) translateZ(100px);
background-image: url(/Img/front.png);
background-repeat: no-repeat;
background-size: cover;
image-rendering: pixelated;
border: solid 5px black;
}

.back {
transform: rotateY(180deg) translateZ(100px);
background-image: url(/Img/back.png);

background-repeat: no-repeat;
background-size: cover;
image-rendering: pixelated;
border: solid 5px black;

}

.right {
transform: rotateY(90deg) translateZ(100px);
background-image: url(/Img/sides.png);

background-repeat: no-repeat;
background-size: cover;
image-rendering: pixelated;
border: solid 5px black;

}
.left {
transform: rotateY(-90deg) translateZ(100px);
background-image: url(/Img/sides.png);

background-repeat: no-repeat;
background-size: cover;
image-rendering: pixelated;
border: solid 5px black;

}

.top {
transform: rotateX(90deg) translateZ(100px);
background-color: rgb(61,61,61);
background-repeat: no-repeat;
background-size: cover;
image-rendering: pixelated;
}

.bottom {
transform: rotateX(-90deg) translateZ(100px);
background-color: rgb(61,61,61);
background-repeat: no-repeat;
background-size: cover;
image-rendering: pixelated;
box-shadow: 0px 0px 0px 0px black;
transition: all 450ms;
}
@keyframes rotate {
  100% {
    transform: rotateY(360deg) rotateX(0deg) rotateZ(0deg);
  }
}
/*Cursor*/
#cursor {
  background: rgb(0, 0, 0);
  line-height: 2px;
  margin-left: 0px;
  margin-top: 1em;
  -webkit-animation: blink 0.8s infinite;
  width: 3px;
  height: 10px;
}

@-webkit-keyframes blink {
  0% {background: #222}
  50% {background: rgb(38, 255, 0)}
}
/*Socials*/
.Socials {
  font-size: .8em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: rgb(38, 255, 0);
  align-items: center;
}