/*Main stuff.*/
html,body {
  margin: 0px; padding: 0px;
  background-color: rgb(0, 0, 0);
  font-family: QuinqueFive;
  color: rgb(255, 255, 255);
  cursor: url(/Img/arrow.png), auto;
  image-rendering: pixelated;
}
body {
  -webkit-transform: translateZ(0px);
  height: 100%;
  width: 100%;
}
#header {
  color: #26ff00;
  font-size: .6em;
  margin: 7px;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  text-shadow: #007d08 2px 2px 0px;
}
@font-face {
  font-family: QuinqueFive;
  src: url(/fonts/QuinqueFive.ttf);
}
hr {
  height: .2em;
  background: white;
  border: none;
  margin-bottom: 2em;
}
@media only screen and (max-width: 664px) {
  hr {
    width: 90%;
    margin-top: 0em;
  }

}
a {
  color: rgb(38, 255, 0);
  text-decoration: none;
}
a:hover {
  -webkit-animation: flash 1.5s linear;
}
@-webkit-keyframes flash {
  0% {  color: rgb(38, 255, 0);}
  10% {color: rgb(255, 0, 0)}
  15% {color: rgb(255, 0, 200)}
  20% {color: rgb(30, 0, 255)}
  30% {color: rgb(38, 255, 0);}
}
/*Cube*/
.cubed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 200ms;
}
.cube {
width: 200px;
height: 250px;
transform-style: preserve-3d;
transition: all 0.5s ease;
transition: all 400ms;
animation: rotate 7000ms linear infinite;

}
.face {
position: absolute;
}

#content {
  color: rgb(38, 255, 0);
  margin: 30px;
  font-size: .3em;
  background-color: rgb(0, 0, 0);
  max-width: 140px;
}
.front {
transform: rotateY(0deg) translateZ(100px);
background-image: url(/Img/front.png);
background-repeat: no-repeat;
background-size: cover;
image-rendering: pixelated;
border: solid 5px black;
width: 200px;
height: 250px;
}
.back {
  transform: rotateY(180deg) translateZ(100px);
  background-image: url(/Img/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  border: solid 5px black;
  width: 200px;
height: 250px;
  }

.right {
transform: rotateY(90deg) translateZ(100px);
background-image: url(/Img/sides.png);
background-repeat: no-repeat;
background-size: cover;
image-rendering: pixelated;
border: solid 5px black;
width: 200px;
height: 250px;

}
.left {
transform: rotateY(-90deg) translateZ(100px);
background-image: url(/Img/sides.png);
background-repeat: no-repeat;
background-size: cover;
image-rendering: pixelated;
border: solid 5px black;
width: 200px;
height: 250px;

}

.top {
transform: rotateX(90deg) translateZ(100px);
background-repeat: no-repeat;
background-size: cover;
image-rendering: pixelated;
width: 200px;
height: 200px;
}

.bottom {
transform: rotateX(-90deg) translateZ(100px);
background-color: rgb(61,61,61);
background-repeat: no-repeat;
background-size: cover;
image-rendering: pixelated;
box-shadow: 0px 0px 0px 0px black;
transition: all 450ms;
width: 200px;
height: 200px;
}
@keyframes rotate {
  100% {
    transform: rotateY(360deg) rotateX(0deg) rotateZ(0deg);
  }
}
/*Cursor*/
#cursor {
  background: rgb(0, 0, 0);
  line-height: 2px;
  margin-left: 0px;
  margin-top: 1em;
  animation: blink 0.8s infinite;
  width:7px;
  height: 15px;
}

@keyframes blink {
  0% {background: #222}
  50% {background: rgb(38, 255, 0)}
}
/*Socials*/
.Socials {
  font-size: .8em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: rgb(38, 255, 0);
  align-items: center;
}
/*CRT effect*/
@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
.crt::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(0, 255, 8, 0.225) 50%, rgba(14, 15, 13, 0.394) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.crt {
  animation: textShadow 1.6s infinite;
}