/*Main stuff.*/
html,body {
  margin: 0px; padding: 0;
  background-color: rgb(0, 0, 0);
  font-family: QuinqueFive;
  color: rgb(255, 255, 255);
  cursor: url(/Img/arrow.png), auto;
  image-rendering: pixelated;
}
#header {
  color: #26ff00;
  font-size: .6em;
  margin: 7px;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  text-shadow: #007d08 2px 2px 0px;
}
@font-face {
  font-family: QuinqueFive;
  src: url(/fonts/QuinqueFive.ttf);
}
hr {
  height: .2em;
  background: white;
  border: none;
  margin-bottom: 2em;
}
@media only screen and (max-width: 664px) {
  hr {
    width: 90%;
    margin-top: 0em;
  }

}
a {
  color: rgb(38, 255, 0);
  text-decoration: none;
}
a:hover {
  -webkit-animation: flash 1.5s linear;
}
@-webkit-keyframes flash {
  0% {  color: rgb(38, 255, 0);}
  10% {color: rgb(255, 0, 0)}
  15% {color: rgb(255, 0, 200)}
  20% {color: rgb(30, 0, 255)}
  30% {color: rgb(38, 255, 0);}
}
/*Cube*/
.cubed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 200ms;
}
.cube {
width: 200px;
height: 250px;
transform-style: preserve-3d;
transition: all 0.5s ease;
transition: all 400ms;
animation: rotate 7000ms linear infinite;

}
.face {
position: absolute;
}
#content {
  color: rgb(38, 255, 0);
  margin: 30px;
  font-size: .3em;
  background-color: rgb(0, 0, 0);
  max-width: 140px;
}
.front {
transform: rotateY(0deg) translateZ(100px);
background-image: url(/Img/front.png);
background-repeat: no-repeat;
background-size: cover;
image-rendering: pixelated;
border: solid 5px black;
width: 200px;
height: 250px;
}
.back {
  transform: rotateY(180deg) translateZ(100px);
  background-image: url(/Img/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  border: solid 5px black;
  width: 200px;
height: 250px;
  }

.right {
transform: rotateY(90deg) translateZ(100px);
background-image: url(/Img/sides.png);
background-repeat: no-repeat;
background-size: cover;
image-rendering: pixelated;
border: solid 5px black;
width: 200px;
height: 250px;

}
.left {
transform: rotateY(-90deg) translateZ(100px);
background-image: url(/Img/sides.png);
background-repeat: no-repeat;
background-size: cover;
image-rendering: pixelated;
border: solid 5px black;
width: 200px;
height: 250px;

}

.top {
transform: rotateX(90deg) translateZ(100px);
background-repeat: no-repeat;
background-size: cover;
image-rendering: pixelated;
width: 200px;
height: 200px;
}

.bottom {
transform: rotateX(-90deg) translateZ(100px);
background-color: rgb(61,61,61);
background-repeat: no-repeat;
background-size: cover;
image-rendering: pixelated;
box-shadow: 0px 0px 0px 0px black;
transition: all 450ms;
width: 200px;
height: 200px;
}
@keyframes rotate {
  100% {
    transform: rotateY(360deg) rotateX(0deg) rotateZ(0deg);
  }
}
/*Cursor*/
#cursor {
  background: rgb(0, 0, 0);
  line-height: 2px;
  margin-left: 0px;
  margin-top: 1em;
  animation: blink 0.8s infinite;
  width: 3px;
  height: 10px;
}

@keyframes blink {
  0% {background: #222}
  50% {background: rgb(38, 255, 0)}
}
/*Socials*/
.Socials {
  font-size: .8em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: rgb(38, 255, 0);
  align-items: center;
}